@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Toplearn.Core.Convertors
@using Toplearn.Core.DTOs.Course
@using Toplearn.Core.Security.Identity
@using Toplearn.Core.Services.Interface
@model Toplearn.DataLayer.Entities.Course.Course
@{
	ViewBag.Title = Model.CourseName;
}

@inject IOrderServices orderServices

@section MetaTags
{
	<meta name=googlebot content=index,follow>
	<meta name=robots content=noodp,noydir>

	<meta name=description content="@Html.Raw(Model.CourseDetail)">

	<meta property=og:site_name value="خودآموزش تاپ لرن">
	<meta property=og:title content="@Model.CourseName">
	<meta property=og:url content="" />
	<meta property=og:image content="@Model.CourseImagePath">
	<meta property=og:image:url content="/CourseInfo/images/image/@Model.CourseImagePath" />
	<meta property=og:image:width content="700">

	<meta property=og:image:type content="image/@System.IO.Path.GetExtension(Model.CourseImagePath).Remove(0,1)">
	<meta property=og:description content="@Model.CourseName">
	<meta property=og:price:currency content="IRR">
	<meta property=og:locale content="ir_FA">
}

<div class="container">
	<nav aria-label="breadcrumb">
		<ul class="breadcrumb">
			<li class="breadcrumb-item"><a href="/"> تاپ لرن </a></li>
			<li class="breadcrumb-item active"><a href="/course"> دوره ها </a></li>
			<li class="breadcrumb-item active" aria-current="page"> @Model.CourseName </li>
		</ul>
	</nav>
</div>

<div class="container">
	<section class="term-content">
		<header><h1> @Model.CourseName </h1></header>
		<div class="row">

			<div class="col-md-8 col-sm-12 col-xs-12 pull-left">
				<section class="term-description">
					<img src="~/CourseInfo/Images/image/@Model.CourseImagePath">

					@Html.Raw(Model.CourseDetail)

					<h2> سرفصل های این دوره : </h2>
					<ul>
						@foreach (var item in Model.Episodes)
						{
							<li>
								<h3> @item.EpisodeTitle </h3>
								@if (item.IsFree)
								{
									<i> رایگان </i>
								}
								else
								{
									<i> نقدی </i>
								}
								<span>@item.EpisodeVideoTime</span>
							</li>

						}
					</ul>
				</section>

				<section class="user-comments">
					<header><h3> نظرات کاربران </h3></header>
					<div class="inner">
						<form asp-action="SubmitComment" asp-controller="Course" method="post">
							<input type="hidden" name="CourseId" value="@Model.CourseId" />
							<input type="hidden" name="pageId" value="@((int)ViewData["pageId"]!)" />
							<div class="row">
								<div class="col-md-4 col-sm-12 col-xs-12">
									<div class="form-group">
										<input type="number" value="@ViewBag.DegreeOfCourse" name="DegreeOfCourse" max="10" min="1" class="form-control" placeholder="امتیاز شما به دوره از 10 ؟">
									</div>
									<div class="form-group">
										<input type="number" value="@ViewBag.DegreeOfTeacher" name="DegreeOfTeacher" max="10" min="1" class="form-control" placeholder="امتیاز شما به استاد دوره از 10 ؟">
									</div>
								</div>
								<div class="col-md-8 col-sm-12 col-xs-12">
									<div class="form-group">
										<textarea class="form-control" name="Comment" placeholder="متن نظر">@ViewBag.Comment</textarea>
									</div>
								</div>
								<div class="col-xs-12">
									<button type="submit" class="btn btn-success"> ثبت دیدگاه </button>
								</div>
								@{
									var errors = ViewBag.Errors as string[];
								}

								@if (ViewBag.Errors != null)
								{

									<div class="col-xs-12">

										<div class="row" style="padding-top:20px;">
											@foreach (var error in errors)
											{
												<div class="col-lg-6 col-sm-6" style="color:red;"><li>@error.Replace("The value '' is invalid.", "اعدادی که برای امتیاز انتخاب میکنید باید بین 1 تا 10 باشد .")</li></div>
											}
										</div>

									</div>
								}
							</div>
						</form>

						@await Component.InvokeAsync("ShowCourseCommentsViewComponents", new
							{
								courseId = Model.CourseId,
								pageId = (int)ViewData["pageId"]!
							})

					</div>
				</section>
			</div>

			<aside class="col-md-4 col-sm-12 col-xs-12 pull-right">
				<div class="statistics">
					<ul>
						<li>
							<span> مدت دوره </span>

							@{
								TimeSpan time = new TimeSpan(Model.Episodes.Sum(e => e.EpisodeVideoTime.Ticks));
							}
							<i> @time </i>
						</li>
						<li>
							<span> تعداد ویدیوها </span>
							<i> @Model.Episodes.Count </i>
						</li>
						<li>
							<span> تعداد دانشجوها </span>
							<i> @ViewBag.CourseStudentCount.ToString("N0") نفر </i>
						</li>
					</ul>
					@{
						var orderRes = orderServices.IsOrderHaveCourse(int.Parse(User.FindFirstValue(TopLearnClaimTypes.NameIdentifier) ?? "0"), Model.CourseId);
					}
					@if (!User.Identity.IsAuthenticated || (Model.CoursePrice != 0 && !orderServices.IsUserBuyCourse(int.Parse(User.FindFirstValue(TopLearnClaimTypes.NameIdentifier)!), Model.CourseId) && !orderRes))
					{
						<a asp-area="UserPanel" asp-controller="Order" asp-action="AddCourseToCart" asp-route-courseId="@Model.CourseId"> شرکت در دوره : @((Model.CoursePrice / 10).ToString("#,0")) تومان  @(Model.CourseOff is { OffPrice: >= 0 } ? "\"  با تخفیف \" " : "") </a>
					}
					else if (orderRes)
					{
						<a asp-action="Index" asp-controller="Order" asp-area="UserPanel">موجود در فاکتور فعلی شما !</a>
					}
				</div>

				<article class="teacher-info">
					<img src="@Model.Teacher.ImageUrl">
					<h2> مدرس : @Model.Teacher.FullName </h2>
					<p>
						@Html.Raw(Model.Teacher.UserDescription)
					</p>
				</article>

				<article class="term-info">
					<h2> اطلاعات این دوره </h2>
					<ul>
						<li>سطح دوره: @Model.CourseStatus.ToString().Replace("_", " ")</li>
						<li>وضعیت دوره: @Model.CourseLevel</li>
						@if (Model.CoursePrice != 0)
						{
							if (Model.CourseOff == null)
							{
								<li title="@((Model.CoursePrice/10).ToString("#,0")) تومان">قیمت : @Model.CoursePrice.ToString("#,0") ریال</li>
							}
							else
							{
								<li>قیمت : <del title="@((Model.CourseOff.RealCoursePrice/10).ToString("#,0")) تومان" style="color:red;"> @Model.CourseOff.RealCoursePrice.ToString("#,0")</del>  ,  <span title="@((Model.CoursePrice/10).ToString("#,0")) تومان" style="color:#6fc341;"> @Model.CoursePrice.ToString("#,0") ریال</span></li>
							}
						}
						else
						{
							<li>
								قیمت :
								<span style="color:#2aaf27;">رایگان</span>
							</li>
						}
						<li>تاریخ ثبت این دوره : @Model.CreateTime.ToShamsi()</li>
						<li>آخرین بروزرسانی دوره : @Model.LastUpdateTime.ToShamsi()</li>
					</ul>
				</article>

				<div class="share-layer">
					<span> به اشتراک گذاری </span>
					<a href="https://www.facebook.com/sharer/sharer.php?u=@(ViewContext.HttpContext.Request.Scheme + "://" + ViewContext.HttpContext.Request.Host+ViewContext.HttpContext.Request.Path)"><i class="zmdi zmdi-facebook"></i></a>
					<a href="https://t.me/share/url?url=@(ViewContext.HttpContext.Request.Scheme + "://" + ViewContext.HttpContext.Request.Host+ViewContext.HttpContext.Request.Path)"><i class="zmdi zmdi-telegram"></i></a>
					<a href="https://twitter.com/intent/tweet?url=@(ViewContext.HttpContext.Request.Scheme + "://" + ViewContext.HttpContext.Request.Host+ViewContext.HttpContext.Request.Path)"><i class="zmdi zmdi-twitter"></i></a>
				</div>

				@if (Model.Tags != null)
				{
					<div class="tags-layer">
						@foreach (string tag in Model.Tags.Split('-', StringSplitOptions.RemoveEmptyEntries))
						{
							<a href="/Course?filter=@tag"> #@tag </a>
						}
					</div>
				}

			</aside>
		</div>
	</section>
</div>