@using System.Security.Claims


<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" id="MainMenu_Me" style="transition: margin-top .3s ease-in-out">
	<!-- Brand Logo -->
	<a class="brand-link bg-success">
		<img src="~/AdminLayerContent/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
			 style="opacity: .8">
		<span class="brand-text font-weight-light">پنل مدیریت - تاپ لرن</span>
	</a>

	<!-- Sidebar -->
	<div class="sidebar" style="direction: ltr">
		<div style="direction: rtl">
			<!-- Sidebar UserForShow panel (optional) -->
			<div class="UserForShow-panel mt-3 pb-3 mb-3 d-flex">
				<div class="image">
					<img src="@(User.Claims.Single(x=>x.Type == "ImageUrl").Value)" class="img-circle elevation-2" width="45px" alt="User Image">
				</div>

				<div class="info" style="padding:14px;">
					<a asp-action="index" asp-controller="Home" asp-area="UserPanel" class="d-block">
						@User.Identity?.Name
					</a>
				</div>
			</div>


			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
				<li class="nav-item has-treeview">
					<a href="/admin" class="nav-link @ViewBag.AdminIndex">
						<i class="nav-icon fa fa-dashboard"></i>
						<p>
							داشبورد
						</p>
					</a>
				</li>
				<div class="mt-3 liButtonsElenemnt">
				<li class="nav-item has-treeview ">
					<a href="#" class="nav-link">
						<i class="nav-icon fa fa-tree"></i>
						<p>
							نوار بالای سایت
							<i class="fa fa-angle-left right"></i>
						</p>
					</a>
					<ul class="nav nav-treeview" style="display: none;">
						<li class="nav-item   @ViewBag.AdminIndex">
							<a asp-action="Index" asp-controller="Home" asp-area="" class="nav-link ">
								<i class="nav-icon fa fa-home"></i>
								<p>
									خانه
								</p>
							</a>
						</li>
						<li class="nav-item   @ViewBag.AdminIndex">
							<a asp-action="Index" asp-controller="Home" asp-area="UserPanel" class="nav-link ">
								<i class="nav-icon fa fa-user-circle"></i>
								<p>
									پنل کاربری
								</p>
							</a>
						</li>
						<li class="nav-item   @ViewBag.AdminIndex">
							<a asp-action="Index" asp-controller="Wallet" asp-area="UserPanel" class="nav-link ">
								<i class="nav-icon fa fa-google-wallet"></i>
								<p>
									کیف پول
								</p>
							</a>
						</li>

						<li class="nav-item">
							<a asp-action="Logout" asp-controller="Account" class="nav-link">
								<i class="nav-icon fa fa-sign-out"></i>
								<p>
									خروج
								</p>
							</a>
						</li>

					</ul>
				</li>
		</div>
		<li class="nav-header"> عملیات ها </li>
		<li class="nav-item has-treeview">
			<a href="#" class="nav-link">
				<i class="nav-icon fa fa-table @(ViewBag.ListOfUsers!=null || ViewBag.RoleManagerOfUser != null || ViewBag.User != null || ViewBag.Roles!=null|| ViewBag.EditRole!= null?"text-info":"")"></i>
				<p>
					مدیریت کاربران
					<i class="fa fa-angle-left right"></i>
				</p>
			</a>
			<ul class="nav nav-treeview">
				<li class="nav-item">
					<a href="/admin/UserManager" class="nav-link @ViewBag.ListOfUsers">
						<i class="fa fa-list-alt nav-icon"></i>
						<p>
							لیست کاربران
						</p>
					</a>
				</li>
				<li class="nav-item">
					<a asp-action="Index" asp-controller="RoleManager" asp-area="Admin" class="nav-link @ViewBag.Roles">
						<i class="fa fa-exclamation-circle nav-icon"></i>
						<p>
							مقام ها
						</p>
					</a>
				</li>
						@if (ViewBag.User != null)
						{
					<li class="nav-item">
						<a class="nav-link @ViewBag.User">
							<i class="fa fa-user-secret nav-icon"></i>
							<p>
								کاربر - @TempData["Fullname"]
							</p>
						</a>
					</li>
						}
						@if (ViewBag.EditRole != null)
						{
					<li class="nav-item">
						<a class="nav-link @ViewBag.EditRole">
							<i class="fa fa-exclamation-circle nav-icon"></i>
							<p>
								مقام - @TempData["RoleDetail"]
							</p>
						</a>
					</li>
						}
			</ul>
		</li>

		<li class="nav-item has-treeview">
			<a href="#" class="nav-link">
				<i class="nav-icon fa fa-table @(ViewBag.CategoryIndex!=null || ViewBag.CategoryAdd != null || ViewBag.CategoryEdit != null ?"text-info":"")"></i>
				<p>
					مدیریت گروه ها
					<i class="fa fa-angle-left right"></i>
				</p>
			</a>
			<ul class="nav nav-treeview">
				<li class="nav-item">
					<a asp-action="Index" asp-controller="Category" asp-area="Admin" class="nav-link @ViewBag.CategoryIndex">
						<i class="fa fa-list-alt nav-icon"></i>
						<p>
							لیست گروه ها
						</p>
					</a>
				</li>

				<li class="nav-item">
					<a asp-action="Create" asp-controller="Category" asp-area="Admin" class="nav-link @ViewBag.CategoryAdd">
						<i class="fa fa-list-alt nav-icon"></i>
						<p>
							افزودن گروه
						</p>
					</a>
				</li>

						@if (ViewBag.CategoryEdit != null)
						{
					<li class="nav-item">
						<a asp-action="Index" asp-controller="Category" asp-area="Admin" class="nav-link @ViewBag.CategoryEdit">
							<i class="fa fa-list-alt nav-icon"></i>
							<p>
								تغییر گروه - @ViewBag.Edit
							</p>
						</a>
					</li>
						}

			</ul>
		</li>



		<li onclick="location.href = '/Teacher'" class="nav-header">پنل استاد</li>
				@* Courses *@
		<li class="nav-item has-treeview">
			<a href="#" class="nav-link">
				<i class="nav-icon fa fa-product-hunt @(ViewBag.AddCourse != null || ViewBag.Courses != null || ViewBag.CourseEpisodes != null?"text-info":"")"></i>
				<p>
					دوره ها
					<i class="fa fa-angle-left right"></i>
				</p>
			</a>
			<ul class="nav nav-treeview">
				<li class="nav-item">
					<a asp-action="Courses" asp-controller="Teacher" asp-area="Admin" class="nav-link @ViewBag.Courses">
						<i class="fa fa-th-list nav-icon"></i>
						<p style="font-size:small;">
							لیست دوره ها
						</p>
					</a>
				</li>
				<li class="nav-item">
					<a asp-action="AddCourse" asp-controller="Teacher" asp-area="Admin" class="nav-link @ViewBag.AddCourse">
						<i class="fa fa-creative-commons nav-icon"></i>
						<p style="font-size:small;">
							افزودن دوره ی جدید
						</p>
					</a>
				</li>
				<li class="nav-item">
					<a asp-action="CourseEpisodes" asp-controller="Teacher" asp-area="Admin" asp-route-courseId="0" asp-route-pageId="1" asp-route-take="10" asp-route-nameFilter="" class="nav-link @ViewBag.CourseEpisodes">
						<i class="fa fa-caret-square-o-right nav-icon"></i>
						<p style="font-size:small;">
							لیست قسمت ها
						</p>
					</a>
				</li>
				
						@if (ViewBag.EditEpisodeForCourse != null)
				{
					<li class="nav-item">
						<a asp-action="Index" asp-controller="Category" asp-area="Admin" class="nav-link @ViewBag.EditEpisodeForCourse">
							<i class="fa fa-list-alt nav-icon"></i>
							<p>
								تغییر قسمت دوره ی  - « @ViewBag.CourseName »
							</p>
						</a>
					</li>
				}

			</ul>
		</li>


		<li class="nav-header">تنظیمات کلی سایت</li>
		<li class="nav-item has-treeview">
			<a href="#" class="nav-link">
				<i class="nav-icon fa fa-table"></i>
				<p>
					تنظیمات
					<i class="fa fa-angle-left right"></i>
				</p>
			</a>
			<ul class="nav nav-treeview">
				<li class="nav-item">
					<a asp-action="ChangeIVG" asp-controller="Home" asp-area="Admin" asp-route-BackUrl="@(Context.Request.Path)" class="nav-link">
						<i class="fa fa-minus-circle nav-icon"></i>
						<p style="font-size:small;">
							تغییر کد احراز هویت کاربران (IVG)
						</p>
					</a>
				</li>

			</ul>
		</li>


		</ul>
	</div>




	</div>

	<!-- /.sidebar -->
</aside>


