@page
@using Toplearn.Core.Convertors
@model Toplearn.Web.Pages.Admin.UserManager.IndexModel

@{
	ViewBag.Title = "لیست کاربران";
	ViewBag.ListOfUsers = "active";
	bool OodOrEven = true;
	int i;
}






<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-12">

			<!-- /.card -->

			<div class="card">
				<div class="card-header">
					<h3 class="card-title">@ViewBag.Title</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body">
					<div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
						<div>
							<form method="get">
								<div class="row">
									<div class="dataTables_length col-12 col-sm-4" id="example1_length">
										<label class="d-flex labelOfSkipNumber" style="max-width:max-content">
											نمایش
											<select value="@(ViewData["take"])" name="take" id="take" aria-controls="example1" class="form-control form-control-sm" style="margin:0px 13px;">
												<option id="take-2" value="2">2</option>
												<option id="take-5" value="5">5</option>
												<option id="take-10" value="10">10</option>
												<option id="take-20" value="20">20</option>
											</select>کاربر
										</label>
									</div>

									<div id="example1_filter " class="dataTables_filter col-12 col-sm-8">
										<label>
											نام و نام خانوادگی :
											<input type="search" value="@ViewData["filterFullname"]" name="filterFullname" class="form-control form-control-sm" placeholder="نام و نام خانوادگی" aria-controls="example1">
										</label>
										<label>
											نام کاربری:
											<input type="search" value="@ViewData["filterUserName"]" name="filterUserName" class="form-control form-control-sm" placeholder="نام کاربری" aria-controls="filterUserName">
										</label>
										<label>
											ایمیل:
											<input type="search" value="@ViewData["filterEmail"]" name="filterEmail" class="form-control form-control-sm" placeholder="ایمیل" aria-controls="filterEmail">
										</label>
									</div>
								</div>
								<div>
									<button type="submit" class="btn btn-block btn-outline-success">جستجو</button>
									<a href="/Admin/usermanager" class="btn btn-block btn-outline-success">حذف فیلتر های جستجو</a>
								</div>


							</form>
						</div><div class="row">
							<div class="col-sm-12">
								<table id="example1" class="table table-bordered table-striped dataTable" style="font-size:small;" role="grid">
									<thead>
										<tr role="row">
											<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="max-width:max-content" aria-sort="ascending" aria-label="اسم: activate to sort column descending">اسم  </th>
											<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="ایمیل: activate to sort column ascending">ایمیل</th>
											<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="نام کاربری : activate to sort column ascending">نام کاربری</th>
											<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="تاریخ: activate to sort column ascending">تاریخ</th>
											<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="وضعیت حساب کاربری: activate to sort column ascending">وضعیت  </th>
											<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="مقام کاربر: activate to sort column ascending">مقام کاربر </th>
											<th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="دستورات: activate to sort column ascending">دستورات</th>
										</tr>
									</thead>
									<tbody>
										@foreach (var user in Model.ShowUserViewModel.Users)
										{
											<tr role="row" class="@(OodOrEven?"odd":"even")">
												<td class="sorting_1">@user.FullName</td>
												<td>@user.Email.CapitalizeFirstLetter()</td>
												<td>@user.UserName</td>
												<td>@user.DateTime.ToShamsi()</td>
												@if (@user.IsActive)
												{
													<td><span class="badge badge-success">فعال</span></td>
												}
												else
												{

													<td onclick="window.open('/admin/usermanager/ActiveAccount?Email=@user.Email.CapitalizeFirstLetter()','_self')">
														<span class="badge bg-danger">فعال نشده</span>
													</td>

												}
												<!--TODO:-->
												<td>کاربر</td>
												<td>

													<a href="@user.ImageUrl" target="_blank" class="btn btn-app">
														<i class="fa fa-image"></i> عکس
													</a>
													<a href="/admin/UserManager/IncreaseUserWallet?Email=@user.Email" class="btn btn-app">
														<i class="fa fa-remove"></i> حذف
													</a>
													<a href="/Admin/usermanager/user?email=@user.Email" class="btn btn-app">
														<i class="fa fa-user"></i>
														اطلاعات
													</a>
												</td>
											</tr>
											OodOrEven = !OodOrEven;
										}
									</tbody>

								</table>
							</div>
						</div>
						@if (Model.ShowUserViewModel.PageCount != 0)
						{
							<div class="row">
								<div class="col-sm-12 col-md-5"></div>
								<div class="col-sm-12 col-md-7">
									<div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
										<ul class="pagination">
											<li class="paginate_button page-item previous @(@Model.ShowUserViewModel.CurrentPage == 1?"disabled":"")" id="example1_previous">
												<a href="/admin/UserManager/index?pageid=@(Model.ShowUserViewModel.CurrentPage-1)" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">قبلی</a>
											</li>
											@for (i = 1; i <= Model.ShowUserViewModel.PageCount; i++)
											{
												<li class="paginate_button page-item previous @((i == Model.ShowUserViewModel.CurrentPage) ? "active" : "")" id="example1_previous">
													<a href="/admin/UserManager/index?pageid=@i" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">
														@i
													</a>
												</li>
											}
											<li class="paginate_button page-item previous @(Model.ShowUserViewModel.CurrentPage == Model.ShowUserViewModel.PageCount?"disabled":"")" id="example1_previous">
												<a href="/admin/UserManager/index?pageid=@(Model.ShowUserViewModel.CurrentPage+1)" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">بعدی</a>
											</li>
										</ul>
									</div>
								</div>

							</div>
						}
					</div>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
</section>
<!-- /.content -->
