@using Microsoft.IdentityModel.Tokens
@using Newtonsoft.Json
@model EditCourseViewModel

@{
	ViewBag.Title = "تغییر اطلاعات دوره";
	ViewBag.ClassicEditor = nameof(Model.CourseDetail);
}


<section class="content" id="a">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<!-- interactive chart -->
				<div class="card card-success card-outline">
					<div class="card-header">
						<h3 class="card-title">
							<i class="fa fa-bar-chart-o"></i>
							@ViewBag.Title
						</h3>
					</div>
					<div class="card-body">
						<form asp-action="EditCourse" asp-controller="Teacher" asp-area="Admin" method="post" enctype="multipart/form-data">
							<input type="hidden" asp-for="CourseId" />

							<div class="row">
								<div class="col-8">

									<div class="card-body">
										<div class="form-group">
											<label for="CourseName">
												نام دوره
											</label>
											<input asp-for="CourseName" class="form-control" placeholder="نام دوره را وارد کنید">
										</div>

										<div class="form-group">
											<label title="اجباری"> گروه  </label>
											<select class="form-control" asp-for="CategoryId" asp-items="@(Model.Category)">
											</select>
										</div>
										<div class="form-group">
											<label title="اختیاری"> زیر گروه </label>
											<select class="form-control" asp-for="SubCategoryId" asp-items="@(Model.SubCategory)">
											</select>
										</div>

										<div class="form-group">
											<label for="CourseDetail"> توضیحات دوره </label>
											<textarea asp-for="CourseDetail"></textarea>
										</div>
										<div class="form-group">
											<label for="CoursePrice">
												قیمت دوره
												(به ریال)
											</label>
											<input type="number" asp-for="CoursePrice" class="form-control" placeholder="قیمت دوره را به ریال وارد کنید">
										</div>

										<div class="form-group">
											<label for="CourseDemoVideo"> فایل توضیحات دوره </label>
											<div class="input-group">
												<div class="custom-file">
													<input type="file" class="custom-file-input" asp-for="CourseDemoVideo">
													<label class="custom-file-label" for="CourseDemoVideo">انتخاب فایل</label>
												</div>
											</div>
											<br />
											<span class="text-warning">
												فقط ویدیو وارد کنید

												.
												@if (Model.LastFileDemoName.IsNullOrEmpty())
												{
													<p style="color:red;">
														این دوره فاقد فیلم معرفی دوره است .
													</p>
												}
											</span>
										</div>

										<div class="form-group">
											<label for="Tags">
												مدت زمان فایل توضیحات دوره
											</label>
											<input asp-for="EpisodeVideoTime" value="@(Model.EpisodeVideoTime == null?"00:00:00":Model.EpisodeVideoTime)" class="form-control" placeholder="مدت زمان فایل توضیحات دوره را وارد کنید">
											<p></p>
											<span class="text-warning">
												به طور مثال :  00:21:29
												<br />
												در صورتی که هنوز ویدیویی وارد نمیکنید به این مورد دست نزنید .
											</span>
										</div>

										<div class="form-group">
											<label for="Tags">
												کلمات کلیدی دوره
											</label>
											<input asp-for="Tags" class="form-control" placeholder="کلمات کلیدی دوره را وارد کنید">
										</div>
										<span>
											هر هشتک را با  -  جدا کنید
										</span>
									</div>
									<!-- /.card-body -->




								</div>
								<div class="col-4">
									<img src="/CourseInfo/Images/image/@(Model.LastImageName)" class="" id="CourseImage" style="width:100%" alt="Course Image ! >= (Your Image Not Valid!)" />
									<div class="form-group">
										<label for="CourseImageFile">  عکس  دوره </label>
										<div class="input-group">
											<div class="custom-file">
												<input type="file" class="custom-file-input" asp-for="CourseImageFile">
												<label class="custom-file-label" for="CourseImageFile">انتخاب فایل</label>
											</div>
										</div>
										<br />
										<span class="text-warning">
											فقط عکس وارد کنید
										</span>
									</div>

									<div class="form-group">
										<label title="اجباری"> سطح دوره </label>
										<select class="form-control" asp-for="Level" asp-items="@(Model.LevelOfCourse)">
										</select>
									</div>
									<div class="form-group">
										<label title="اجباری">  وضعیت دوره </label>
										<select class="form-control" asp-for="Status" asp-items="@(Model.StatusOfCourse)">
										</select>
									</div>


									@if (!Model.LastFileDemoName.IsNullOrEmpty())
									{
										<div class="card card-success card-outline" id="10" style="display:none; transition:all 2s;">
											<div class="card-header no-border">
												<h3 class="card-title">
													فیلم معرفی دوره
												</h3>
												<div class="card-tools">
													<button type="button" onclick="RemoveVideo()" class="btn btn-tool" data-widget="remove">
														<i class="fa fa-times"></i>
													</button>
												</div>
											</div>
											<div class="card-body box-profile">
												<video id="video-Course" style="max-width:100%; border:#28a745 dashed 3px; border-radius:5px;" controls src=""></video>
											</div>
										</div>
										<input asp-for="LastFileDemoName" type="hidden" />
									}


									<div class="text-danger form-group pr-3" asp-validation-summary="All"></div>


								</div>
								<div class=" col-6 ">
									<button type="submit" class="btn btn-success mw-100 w-100">ارسال</button>
								</div>
								@if (!Model.LastFileDemoName.IsNullOrEmpty())
								{
									<div class="col-6 ">
										<button onclick="Video()" type="button" class="btn btn-primary mw-100 w-100">عکس و فیلم دمو قبلی</button>
									</div>
								}
							</div>
						</form>
					</div>
					<!-- /.card-body-->
				</div>
				<!-- /.card -->

			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
		<!-- /.row -->
	</div><!-- /.container-fluid -->
</section>



@section Script
{
	<partial name="_CkEditorScripts" />

	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.js"></script>

	<script type="text/javascript">


		function Video() {
			document.getElementById("video-Course").src = document.getElementById("LastFileDemoName").value;
			document.getElementById("10").style.display = "block";
		}

		function RemoveVideo() {
			document.getElementById("10").style.display = "none";
			var videoCourse = document.getElementById("video-Course");
			videoCourse.pause();
			videoCourse.src = "";
		}


		function readURL(input) {

			if (input.files && input.files[0]) {

				var reader = new FileReader();



				reader.onload = function (e) {

					$('#CourseImage').attr('src', e.target.result);

				}

				reader.readAsDataURL(input.files[0]);
			}

		}

		$("#CourseImageFile").change(function () {

			readURL(this);

		});



	</script>
	<script>

		$("#CategoryId").change(function () {
			$("#SubCategoryId").empty();
			$.getJSON("/Teacher/GetSubCategoriesJson?Catid=" + $("#CategoryId :selected").val(),
				function (data) {
					$.each(data,
						function () {
							$("#SubCategoryId").append('<option value=' + this.value + '>' + this.text + '</option>');

						});

				});


		});

	</script>



}