@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DepositWalletViewModel
@{
	ViewBag.Title = "کیف پول شما";
}


<partial name="_breadcrumb" />
<partial name="_ValidationScriptsPartial" />

<main>
	<div class="container">
		<div class="user-account">
			<div class="row">
				<div class="col-md-3 col-sm-4 col-xs-12">
					<aside>

						<partial name="_BoxOfImageInUserPanel" />

						<partial name="_DeskInUserPanel" />

					</aside>
				</div>
				<div class="col-md-9 col-sm-8 col-xs-12">
					<section class="user-account-content">
						<header>
							<h1> کیف پول شما </h1>
						</header>
						<div class="inner form-layer">
							<form asp-action="IncreaseWalletBalance" asp-controller="Wallet" method="post">
								<div class="row">
									<div class="col-md-7 col-sm-8 col-xs-12" style="margin-bottom: 13px;">
										<div class="input-group">
											<span class="input-group-addon" id="username">
												<i class="zmdi zmdi-balance-wallet"></i>
											</span>
											<input type="number" class="form-control" asp-for="Amount" placeholder="مبلغ به ریال">
										</div>
										<span asp-validation-for="Amount"></span>
									</div>

									<div class="text-danger" asp-validation-summary="All"></div>
									<div class="col-md-7 col-sm-8 col-xs-12">
										<button class="btn btn-success"> شارژ کیف پول </button>
									</div>
								</div>
							</form>
							@{
								List<ShowWalletsViewModel>? wallets = ViewBag.ListWallet as List<ShowWalletsViewModel>;
								int tr = 1;
							}
							@if (wallets != null)
							{
								<hr />

								<table class="table table-bordered">
									<tr>
										<th>ردیف</th>
										<th>مبلغ</th>
										<th>تاریخ</th>
										<th>نوع تراکنش</th>
										<th>شرح</th>
										<th>شناسه ی پرداخت در درگاه</th>
										<th>کد پیگیری</th>

									</tr>
									@foreach (var wallet in wallets)
									{

										<tr class="@(wallet.IsPay ? "success" : "danger")">
											<td>w-@tr</td>
											<td>@wallet.Amount.ToString("#,0 ریال")</td>
											<td>
												@wallet.CreateDate.ToShamsi()
											</td>
											<td>
												@switch (wallet.TypeId)
												{
													case 1:
														<p>برداشت</p>
														break;
													case 2:
														<p>واریز</p>
														break;
													default:
														<p>
															خرید مستقیم دوره
														</p>
														break;
												}
											</td>
											<td>
												@wallet.Description
											</td>
											<td>
												@wallet.Authority
											</td>
											<td>
												@wallet.RefId
											</td>
										</tr>
										tr++;
									}
								</table>
							}

						</div>
					</section>

				</div>
			</div>
		</div>
	</div>
</main>