@model ShowCategoriesViewModel

@{
	ViewBag.Title = "گروه و زیر گروه ها";
	ViewBag.CategoryIndex = "active";
	bool OodOrEven = true;
	int i;
}



<!-- Main content -->
<section class="content">
	<div class="row">
		<div class="col-12">

			<!-- /.card -->

			<div class="card">
				<div class="card-header">
					<h3 class="card-title">@ViewBag.Title</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body">
					<div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
						<div>
							<form asp-action="Index" asp-controller="Category" asp-area="Admin" method="get">
								<div class="row">
									<div class="dataTables_length col-12 col-sm-4" id="example1_length">
										<label class="d-flex labelOfSkipNumber" style="max-width:max-content">
											نمایش
											<select name="take" id="take" aria-controls="جستجو" class="form-control form-control-sm" style="margin:0px 13px;">
												<option id="option-2" value="2">2</option>
												<option id="option-5" value="5">5</option>
												<option id="option-10" value="10">10</option>
												<option id="option-20" value="20">20</option>
											</select>گروه
										</label>
									</div>

									<div id="example1_filter " class="dataTables_filter col-12 col-sm-8">
										<label>
											نام گروه :
											<input type="search" value="@ViewData["nameFilter"]" name="nameFilter" class="form-control form-control-sm" placeholder="نام دوره :" aria-controls="example1">
										</label>
										<input type="hidden" name="pageId" id="pageId" value="@ViewData["pageId"]" />
									</div>
								</div>
								<div>
									<button type="submit" class="btn btn-block btn-outline-success">جستجو</button>
									<a asp-action="Index" asp-controller="Category" class="btn btn-block btn-outline-success">حذف فیلتر های جستجو</a>
								</div>

							</form>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="card">

									<!-- /.card-header -->
									<div class="card-body table-responsive p-0">
										<table class="table table-hover table-striped " style="font-size:small;">
											<thead>
												<tr role="row">
													<th>نام  </th>
													<th>سرگروه</th>
													<th>تعداد دوره های گروه</th>
													<th>تعداد زیر گروه</th>
													<th> وضعیت گروه </th>
													<th>دستورات</th>
												</tr>
											</thead>
											<tbody>
												@foreach (var category in Model.Categories)
												{
													<tr role="row">
														<td>@category.CategoryName</td>
				
															@if (category.ParentCategoryId == null)
															{
															<td title="خود این گروه سر گروه میباشد">
																--
															</td>
															}
															else
															{
															<td id="@category.CategoryId" onclick="GetCategory(@category.CategoryId,@(category.ParentCategoryId))">
																برای دیدن سرگروه این زیر گروه کلیک کنید .
															</td>
															
															}


														<td>@category.Courses.Count</td>
														<td>@category.ChildCategories?.Count</td>

															@if (@category.IsActive)
															{
															<td><span class="badge badge-success">فعال</span></td>
															}

															else
															{
															<td>
																<span class="badge bg-danger">غیر فعال  </span>
															</td>
															}
														<td>

															<a asp-action="ChangeCategoryStatus" asp-controller="Category" asp-area="Admin" asp-route-id="@category.CategoryId" class="btn btn-app">
																<i class="fa fa-arrows-alt" style="font-size:small;"></i>
																تغییر وضعیت
															</a>
															<a asp-action="Edit" asp-controller="Category" asp-area="Admin" asp-route-id="@category.CategoryId"  class="btn btn-app" style="min-width:fit-content;">
																<i class="fa fa-edit"></i>
																تغییر اطلاعات گروه
															</a>
														</td>
													</tr>
													OodOrEven = !OodOrEven;
												}
											</tbody>
										</table>
									</div>
									<!-- /.card-body -->
								</div>
								<!-- /.card -->
							</div>
						</div>



						@if (Model.PageCount > 1)
						{
							<div class="row">
								<div class="col-sm-12 col-md-5"></div>
								<div class="col-sm-12 col-md-7">
									<div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
										<ul class="pagination">
											<li class="paginate_button page-item previous @(@Model.CurrentPage == 1?"disabled":"")" id="example1_previous">
												<a asp-action="Index" asp-controller="Category" asp-area="Admin" asp-route-take="@ViewData["take"]" asp-route-pageId="@(Model.CurrentPage-1)" asp-route-nameFilter="@ViewData["nameFilter"]" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">قبلی</a>
											</li>
											@for (i = 1; i <= Model.PageCount; i++)
											{
												<li class="paginate_button page-item previous @((i == Model.CurrentPage) ? "active" : "")" id="example1_previous">
													<a asp-action="Index" asp-controller="Category" asp-area="Admin" asp-route-take="@ViewData["take"]" asp-route-pageId="@i" asp-route-nameFilter="@ViewData["nameFilter"]" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">
														@i
													</a>
												</li>
											}
											<li class="paginate_button page-item previous @(Model.CurrentPage == Model.PageCount?"disabled":"")" id="example1_previous">
												<a asp-action="Index" asp-controller="Category" asp-area="Admin" asp-route-take="@ViewData["take"]" asp-route-pageId="@(Model.CurrentPage+1)" asp-route-nameFilter="@ViewData["nameFilter"]" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">بعدی</a>
											</li>
										</ul>
									</div>
								</div>

							</div>
						}
					</div>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
		<!-- /.col -->
	</div>
	<!-- /.row -->
</section>
<!-- /.content -->

<input type="hidden" value="@("option-".Trim() + @ViewData["take"].ToString().Trim())" id="100" />


@section Script
{
	<script>
		document.getElementById(document.getElementById("100").value).setAttribute("selected", "selected");

		
			function GetCategory(x, CategoryId) {

				console.log(CategoryId);

				$.getJSON("/Admin/Category/GetCategoryName?categoryId=" + CategoryId,
					function (data) {
						if (data == null) {
							document.getElementById(x).innerHTML = "مشکلی به وجود آمده است";
						}
						else {
							document.getElementById(x).innerHTML = data;
						}
					});
			}
	</script>


}
